.ddimgtooltip{
/*box-shadow: 3px 3px 5px #818181; /*shadow for CSS3 capable browsers.
-webkit-box-shadow: 3px 3px 5px #818181;
-moz-box-shadow: 3px 3px 5px #818181;
*/
display:none;
position:absolute;
padding: 4px;
max-width: 500px;
}
  
* {
    font-family: 'Georgia', serif;
    font-size: 12px;
    color: #0e7613;
    font-weight: normal;
    line-height: 1.3;
  }
  
img {
border: 0px;
}